
// COLOR
$white: #fff;
$gray: #e8ebec;
$lightgray: #f6f7fc;
// màu chủ đạo của background trong header,
//  footer, button, title, border 
$primary: #e58b22;

// màu text chủ đạo,title, màu icon
// , bg trong checkbox, radio input...
$secondary: #000033;
$secondary-100: #e8ebec;
$secondary-200: #c5cbd0;
$secondary-300: #939ea9;
$secondary-400: #606c82;

// text login, breadcrum, title
$lightblue:#3f89df;

// background button support, checked icon
$green: #19cb40;

// bg thông báo, progress sale sản phẩm
$notify: #e34747;
