
// COLOR
$white: #fff;
$gray: #e8ebec;

// màu chủ đạo của background trong header, footer
// button, title, border 
$primary: #e58b22;

// màu text chủ đạo,title, màu icon
// , bg trong checkbox, radio input...
$secondary: #000033;
$darkblue: #000033;
$darkblue-100: #e8ebec;
$darkblue-200: #c5cbd0;
$darkblue-300: #939ea9;
$darkblue-200: #606c82;

// màu placeholder, chữ mờ ...
$placeholder: #9fa9b3;
$text-blur: #747e92;

// text login, breadcrum, title
$lightblue:#abcbf1;

// background button support, checked icon
$green: #19cb40;

// bg thông báo, progress sale sản phẩm
$notify: #e55252;
